@charset "UTF-8";
/* CSS Document */

@-moz-viewport { width: device-width; scale:1; }
@-ms-viewport { width: device-width; scale:1; }
@-webkit-viewport { width: device-width; scale:1; }
@-o-viewport { width: device-width; scale:1; }

html {  
/* stops screen browsers from changing font size */
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	text-size-adjust: 100%;
}

html, body {
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	margin: 0;
	padding: 0;
}

main {
	width: 90%;
	margin: 0 auto; /* 5% also works, auto is fine just as long as there is a width */
}

img {
	width: 100%;
	height: auto;
	margin-bottom:5rem;
	
}

.logo {
	width: 7.5rem;
	height: 5.5rem;
	position: relative; 
	margin-left: 2rem;
	float:left;
	line-height: 0;
	
}

.masthead {
	height: 12rem;
	background-color: #666;
	text-align:center;
	width: 100%;
	margin-top:0;
}


h1 {
	display: inline-block;
	color: #FFF;
	font-size: 2.5rem;
	text-align: center;
	line-height: 0;
}

nav {
	background-color: #999;
}

nav ul {
    padding: 1rem;
    background-color: #999;
	text-align: center;
}
 
nav li {
	display:inline-block;
	margin-right: 1rem;
    list-style: none;
    text-transform: uppercase;
    color: #999;
    text-decoration: none;
}
 
nav li a {
    color: #000;
    text-decoration: none;
}
 
nav li a:hover, nav li a:focus, nav li a:active { 
    background-color: #999; 
}
 
nav .selected { 
    background-color: #999;
}

p {
	margin-right: 2rem;
	margin-left: 2rem;
	margin-bottom:3rem;
}
